body { 
  background: #FFC0CB; 
  font-family: 'Lato', sans-serif; 
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0; 
  text-align:center; 
}

header {
	padding: 5px;
	background-color:#808080;
    height: 51px;
    width:100%;
    padding-bottom: 50px;
}

.logo  {
  padding-left: 15px;
  margin: 10px;
  width: 100px;
  height:100px;
 float:left;
}

.bran {
  padding-top: 20px;
 text-align: left;
  color: white;
font-size: 25px; 
}

nav {
  background-color: #313236;
  margin: 20px;
  border-radius: 2px;
  max-width: 100%;
}

nav a {
  color: #aaa;
  display: inline-block;
  font-size: 17px;
  padding: 20px;
  text-decoration: none;
}

nav a:hover {
  color: yellow;
}

table {
  border-spacing: 0;
  empty-cells: hide;
  font-family: 'Times New Roman', Times, serif;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px solid grey;
  border-radius:5px;
}

td {
  padding: 10px 20px;
  text-align: center;
  border: 1px solid white;
}

td:first-child {
  text-align: left;
  color: white;
  font-weight: bold;
}

th {
  padding: 10px 20px;
  background-color: grey;
  color: black;
  border: 1px solid white;
}

td:nth-child(even) {
  background: #0000FF;
  color:white;
  
}

td:nth-child(odd) {
  font-size:20px;
  background: grey;
  color:black;
}

th:nth-child(even) {
  background: 	#0000FF;
  color: white;
}

footer { 
  text-align: center;
      border-top: 7px solid black;
      padding-top: 5px;
      margin-top: 50px;
      padding-bottom: 10px;
      background-color: #808080;
      color: black;
  } 

li {
  list-style-type: none;
}

